---
import Layout from '../layouts/Layout.astro';

import "@/styles/globals.css";
import { LoginSwitcher } from '@/components/OurTabs';
---

<Layout title="Login">
	<main class="flex flex-col items-center justify-center h-screen gap-2">
		<h1 class="text-4xl font-bold">Login</h1>

		<LoginSwitcher client:load />
	</main>
</Layout>